<table width="100%" border=0 style="table-layout: fixed;">
  <tr>
    <td width="100%">
      <button (click)="tglForm($event)" style="display: block; width: 100%;">
        Form Settings
      </button>
    </td>
  </tr>
  <tr>
    <td>
      <table #tblForm style="display: none;">
        <tr>
          <td>

            <table>
              <tr>
                <td align="center">
                  Form Name
                </td>
                <td>
                  <input style="width: 100px" (blur)="fnameBlur($event)" value="{{form_name}}">
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="100%">
      <button (click)="tglPage($event)" style="display: block; width: 100%;">
        Page Settings
      </button>
    </td>
  </tr>
  <tr>
    <td>
      <table #tblPage style="display: none;">
        <tr>
          <td>
            <table border=0>
              <tr>
                <td>
                  Width
                </td>
                <td>
                  <input style="width: 75px">
                </td>
              </tr>
              <tr>
                <td>
                  Height
                </td>
                <td>
                  <input style="width: 75px">
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="100%">
      <button (click)="tglTable($event)" style="display: block; width: 100%;">
        Table Settings
      </button>
    </td>
  </tr>
  <tr>
    <td>
      <table #tblTable style="display: none;">
        <tr>
          <td>
            <table border=0>
              <tr>
                <td>
                  Col-Width
                </td>
                <td>
                  <input style="width: 75px" (blur)="colwidthBlur($event)" value="{{col_width}}">
                </td>
              </tr>
              <tr>
                <td>
                  Row-Height
                </td>
                <td>
                  <input style="width: 75px" (blur)="rowheightBlur($event)" value="{{row_height}}">
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="100%">
      <button (click)="tglCell($event)" style="display: block; width: 100%;">
        Cell Settings
      </button>
    </td>
  </tr>
  <tr>
    <td>
      <table #tblCell style="display: none;" width="100%">
        <tr width="100%">
          <td (click)="alignLeft($event)" width="75px" style="padding-left: 20px;">
            <i class="fas fa-align-left"></i>
          </td>
          <td (click)="alignCenter($event)" width="75ox" style="padding-left: 20px;">
            <i class="fas fa-align-center"></i>
          </td>
          <td (click)="alignRight($event)" width="75px" style="padding-left: 20px;">
            <i class="fas fa-align-right"></i>
          </td>
        </tr>
        <tr width="100%">
          <td (click)="alignBottom($event)" width="75px" style="padding-left: 20px;">
            <i class="fas fa-arrow-down"></i>
          </td>
          <td (click)="alignMiddle($event)" width="75ox" style="padding-left: 20px;">
            <i class="fas fa-arrows-alt-v"></i>
          </td>
          <td (click)="alignTop($event)" width="75px" style="padding-left: 20px;">
            <i class="fas fa-arrow-up"></i>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="100%">
      <button (click)="tglITable($event)" style="display: block; width: 100%;">
        iTable Settings
      </button>
    </td>
  </tr>
  <tr>
    <td>
      <table #tblITable border=0 width="100%" style="display: none">
        <tr>
          <td>
            Col-Width
          </td>
          <td>
            <input style="width: 75px" (blur)="icolwidthBlur($event)" value="{{icol_width}}">
          </td>
        </tr>
        <tr>
          <td>
            Row-Height
          </td>
          <td>
            <input style="width: 75px" (blur)="irowheightBlur($event)" value="{{irow_height}}">
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
      <td width="100%">
        <button (click)="tgliCell($event)" style="display: block; width: 100%;">
          iCell Settings
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <table #tbliCell style="display: none;" width="100%">
          <tr width="100%">
            <td (click)="ialignLeft($event)" width="75px" style="padding-left: 20px;">
              <i class="fas fa-align-left"></i>
            </td>
            <td (click)="ialignCenter($event)" width="75ox" style="padding-left: 20px;">
              <i class="fas fa-align-center"></i>
            </td>
            <td (click)="ialignRight($event)" width="75px" style="padding-left: 20px;">
              <i class="fas fa-align-right"></i>
            </td>
          </tr>
          <tr width="100%">
            <td (click)="ialignBottom($event)" width="75px" style="padding-left: 20px;">
              <i class="fas fa-arrow-down"></i>
            </td>
            <td (click)="ialignMiddle($event)" width="75ox" style="padding-left: 20px;">
              <i class="fas fa-arrows-alt-v"></i>
            </td>
            <td (click)="ialignTop($event)" width="75px" style="padding-left: 20px;">
              <i class="fas fa-arrow-up"></i>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  <tr>
    <td width="100%">
      <button (click)="tglText($event)" style="display: block; width: 100%;">
        Text Settings
      </button>
    </td>
  </tr>
  <tr>
    <td>
      <table #tblText style="display: none;">
        <tr>
          <td>
            Text
          </td>
          <td>
            <input style="width: 150px" (blur)="textValueBlur($event)" [(ngModel)]="text_value">
          </td>
        </tr>
        <tr>
            <td>
              Font Size
            </td>
            <td>
              <input style="width: 50px" (blur)="ftSizeValueBlur($event)" [(ngModel)]="text_ftsize">
            </td>
          </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="100%">
      <button (click)="tglInput($event)" style="display: block; width: 100%;">
        Input Settings
      </button>
    </td>
  </tr>
  <tr>
    <td>
      <table #tblInput style="display: none;">
        <tr>
          <td>width</td>
          <td>
            <input #iwidth style="width: 100px" (blur)="iwidthBlur($event)" value="{{input_width}}">
          </td>
        </tr>
        <tr>
          <td>height</td>
          <td>
            <input #iheight style="width: 100px" (blur)="iheightBlur($event)" value="{{input_height}}">
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="100%">
      <button (click)="tglHr($event)" style="display: block; width: 100%;">
        HR Settings
      </button>
    </td>
  </tr>
  <tr>
    <td>
      <table #tblHr style="display: none;">
        <tr>
          <td>width</td>
          <td>
            <input #hrwidth style="width: 100px" (blur)="hrwidthBlur($event)" value="{{hr_width}}">
          </td>
        </tr>
        <tr>
          <td>size</td>
          <td>
            <input #hrsize style="width: 100px" (blur)="hrsizeBlur($event)" value="{{hr_size}}">
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>