<div #baseEl class="split-example" (click)="disableContextMenu()" oncontextmenu="return false;" (contextmenu)="onrightClick($event)"
    style="height: 100vh;">
    <table #maintable class="main-table" border=1>
        <colgroup>
            <col width="10%">
            <col width="80%">
            <col width="10%">
        </colgroup>
        <tr>
            <td colspan=3>
                <toolbar></toolbar>
            </td>
        </tr>
        <tr>
            <td class="lefttd">
                <app-assettree></app-assettree>
            </td>
            <td class="centertd">
                <div #mainsplit class="maindiv" (scroll)="refresh()">
                    <table class="maincomp" align="center">
                        <tr align="center">
                            <td align="center">
                                <app-cxform #formsview></app-cxform>
                                <app-cxformref #formrefsview style="display: none;"></app-cxformref>
                                <app-assetlist #assetlist style="display: none;"></app-assetlist>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td class="righttd">
                <div class="settings">
                    <app-settings></app-settings>
                </div>
            </td>
        </tr>
    </table>
</div>
<div *ngIf="contextmenu==true">
    <app-contextmenu [inner]="inner" [x]="contextmenuX" [y]="contextmenuY"></app-contextmenu>
</div>