<button (click)="addProject($event)">Add Project</button>
<button (click)="addAsset($event)">Add Asset</button>
<button (click)="addForm($event)">Add Form</button>
<button (click)="genReport($event)">Gen Report</button>
<!-- <button (click)="gotoEditor($event)">Goto Editor</button> -->
<button (click)="toggleformsView($event)">Toggle View</button>