.page {
    table-layout: fixed;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.pagediv {
    text-align: center;
    overflow: hidden;
    width: 900px;
    height: 1100px;
}
.tr {
    margin: 0px;
    padding: 0px;
}
.td {
    margin: 0px;
    padding: 0px;
}
.active {
    border: solid blue 0px;
}
