<tr *ngIf="page">
  <td valign=top>
    <div class="pagediv" (mouseover)="mouseover()" (click)="click()">
    <table class="page">
        <tr app-table *ngFor="let table of page?.tables" [table]="table" valign="top">
          </tr>
    </table>
  </div>
  </td>
</tr>