.table {
    display: table;
    margin: 0px;
    padding: 0px;
    border-collapse: separate;
    table-layout: fixed;
    margin-left: 50%;
    transform: translateX(-50%);
}
.tr {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.td {
    margin: 0px;
    padding: 0px;
}