<td>
  <table #tcomp class="table" border=1 (click)="click($event)">
    <colgroup>
      <col *ngFor="let col of table.cols" [attr.width]="col">
    </colgroup>
    <tr app-row class="tr" valign="top" *ngFor="let row of table.rows" [table]="table" [row]="row" [attr.height]="row.height">
    </tr>
  </table>
</td>