<table class="main-table" width='100%' height='25px' border='1'>
  <tr>
    <td border='1'>
      <button (click)="addProject($event)">Add Project</button>
      <button (click)="addAsset($event)">Add Asset</button>
      <button (click)="addForm($event)">Add Form</button>
      <button (click)="delForm($event)">Delete Form</button>
      <button (click)="addFormref($event)">Add FormRef</button>
      <button (click)="delFormref($event)">Delete FormRef</button>
      <button (click)="addPage($event)">Add Page</button>
      <button (click)="delPage($event)">Delete Page</button>
      <button (click)="addTable($event)">Add Table</button>
      <button (click)="delTable($event)">Delete Table</button>
      <button (click)="addRow($event)">Add Row</button>
      <button (click)="delRow($event)">Delete Row</button>
      <button (click)="delCell($event)">Delete Cell</button>
      <button (click)="addCol($event)">Add Col</button>
      <button (click)="delCol($event)">Delete Col</button>
      <button (click)="undo($event)">Undo</button>
      <button (click)="redo($event)">Redo</button>
      <button (click)="addText($event)">Add Text</button>
      <button (click)="addInput($event)">Add Input</button>
      <button (click)="addTextArea($event)">Add TextArea</button>
      <button (click)="addHr($event)">Add HR</button>
      <!-- <label for="file">Add Image</label> -->
      <input type="file" name="myFile" (change)="addImage($event)" accept=".png,.jpg" />
      <button (click)="delElement($event)">Delete Element</button>
      <!-- <button (click)="pdfIt($event)">PDF</button> -->
      <button (click)="logOut($event)">Log Out</button>
      <!-- <button (click)="gotoOps($event)">Operations</button> -->
      <button (click)="genReport($event)">Gen Report</button>
      <button (click)="genrefReport($event)">GenRef Report</button>
      <!-- <button (click)="gotoEditor($event)">Goto Editor</button> -->
      <button #tglformbtn (click)="toggleformView($event)">Forms View</button>
      <button #tglformrefbtn (click)="toggleformrefView($event)">FormRefs View</button>
      <button #tglassetbtn (click)="toggleassetView($event)">Asset View</button>
      <button (click)="addInnerTable($event)">Add Inner Table</button>
      <button (click)="addInnerRow($event)">Add Inner Table Row</button>
      <button (click)="addInnerCol($event)">Add Inner Table Col</button>
      <button (click)="addIText($event)">Add iText</button>
      <button (click)="addIInput($event)">Add iInput</button>
      <button (click)="addITextArea($event)">Add iTextArea</button>
      <button (click)="addIHr($event)">Add iHr</button>
      <!-- <label for="file">Add Image</label> -->
      <input type="file" name="myFile" (change)="addIImage($event)" accept=".png,.jpg" />
      <div>{{form_name}}</div>
    </td>
  </tr>
  <tr>
    <td border='1'>
      {{user_name}}
    </td>
  </tr>
</table>