<div (mouseenter)="hover=true" (mouseleave)="hover=false" [ngClass]="{blue: hover}" (click)="setAssetref($event)">
    <table border=1>
      <tr>
        <td width="10px">
          <input #cb0 type="checkbox" (click)="checkIt($event)">
        </td>
        <td width="100px">
          <div #tdiv0 (dblclick)="toggleTxtLevel0($event)" style="width:90px; height:25px; overflow: hidden; white-space: nowrap;">
            {{assetref.name}}
          </div>
          <input #idiv0 (blur)="toggleInputLevel0($event)" style="width: 90px; height: 20px; display: none;" />
        </td>
        <td width="100px" style="overflow: hidden">
          <div #tdiv1 (dblclick)="toggleTxtLevel1($event)" style="width:90px; height:25px; overflow: hidden; white-space: nowrap;">
            {{assetref.level1}}
          </div>
          <input #idiv1 (blur)="toggleInputLevel1($event)" style="width: 90px; height: 20px; display: none;" />
        </td>
        <td width="100px" style="overflow: hidden">
        <div #tdiv2 (dblclick)="toggleTxtLevel2($event)" style="width:90px; height:25px; overflow: hidden; white-space: nowrap;">
          {{assetref.level2}}
        </div>
        <input #idiv2 (blur)="toggleInputLevel2($event)" style="width: 90px; height: 20px; display: none;" />
        </td>
        <td width="100px" style="overflow: hidden">
        <div #tdiv3 (dblclick)="toggleTxtLevel3($event)" style="width:90px; height:25px; overflow: hidden; white-space: nowrap;">
          {{assetref.level3}}
        </div>
        <input #idiv3 (blur)="toggleInputLevel3($event)" style="width: 90px; height: 20px; display: none;" />
        </td>
      
        <td width="100px" style="overflow: hidden">
        <div #tdiv4 (dblclick)="toggleTxtLevel4($event)" style="width:90px; height:25px; overflow: hidden; white-space: nowrap;">
          {{assetref.level4}}
        </div>
        <input #idiv4 (blur)="toggleInputLevel4($event)" style="width: 90px; height: 20px; display: none;" />
        </td>
      
        <td width="100px" style="overflow: hidden">
        <div #tdiv5 (dblclick)="toggleTxtLevel5($event)" style="width:90px; height:25px; overflow: hidden; white-space: nowrap;">
          {{assetref.level5}}
        </div>
        <input #idiv5 (blur)="toggleInputLevel5($event)" style="width: 90px; height: 20px; display: none;" />
        </td>
      
        <td width="100px">
          <app-ereflistitemform [assetref]="assetref"></app-ereflistitemform>
        </td>
      </tr>
    </table>  
    </div>