<div class="cell" height="100%" width="100%" [style.max-height]="row.height + 'px'">
<div class="cellel" *ngFor="let cellel of cell.cellels">
    <app-txtel *ngIf="cellel.type==='Text'" cxEl class="unselectable" [cellel]="cellel"></app-txtel>
    <app-imgel *ngIf="cellel.type=='Image'" cxEl class="unselectable" [cellel]="cellel"></app-imgel>
    <app-inpel *ngIf="cellel.type=='Input'" cxEl class="unselectable" [cellel]="cellel"></app-inpel>
    <app-tael *ngIf="cellel.type=='TextArea'" cxEl class="unselectable" [cellel]="cellel"></app-tael>
    <app-itel *ngIf="cellel.type=='Table'" class="unselectable" [cellel]="cellel"></app-itel>
    <app-hrel *ngIf="cellel.type==='HR'" cxEl class="unselectable" [cellel]="cellel"></app-hrel>
</div>
</div>