.table {
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
}
.tr {
    margin: 0px;
    padding: 0px;
}
.td {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.cell {
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    max-height: 100%;
}
.clip {
    overflow: hidden;
}
/* .cell:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
} */
.cellel {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}
.ccontain {
    border: 0px solid blue;
    /* overflow: hidden; */
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.highlight {
    background-color: yellow;
}