.table {
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
}
.tr {
    margin: 0px;
    padding: 0px;
}
.td {
    margin: 0px;
    padding: 0px;
}
.highlight {
    background-color: greenyellow;
}
.unhighlight {
    background-color: transparent;
}
.tdel {
    padding: 0px;
    line-height: 0px;
    overflow: hidden;
}