<select (change)="onProjChange($event)">
    <option>Select Project...</option>
    <option>Global Masters</option>
    <option>Account Masters</option>
    <option>Project</option>
    <option *ngFor="let proj of projects | async" value="{{proj.$key}}">{{proj.name}}</option>
</select>

<button (click)="addAsset($event)">Add Asset</button>
<button (click)="addAssetref($event)">Add AssetRef</button>

<div style="width: 800px; height: 300px;">
    <table>
        <tr>
            <table border=1>
                <tr>
                    <td width="10px">
                        <input type="checkbox">
                    </td>
                    <td width="100px">
                        Name
                    </td>
                    <td width="100px" style="overflow: hidden">
                        Level 1
                    </td>
                    <td width="100px" style="overflow: hidden">
                        Level 2
                    </td>
                    <td width="100px" style="overflow: hidden">
                        Level 3
                    </td>

                    <td width="100px" style="overflow: hidden">
                        Level 4
                    </td>
                    <td width="100px" style="overflow: hidden">
                        Level 5
                    </td>
                    <td width="100px">
                    </td>
                </tr>
            </table>
        </tr>
        <tr>
            <table>
                <tr app-assetlistitem *ngFor="let asset of assets | async" [asset]="asset" valign="top">
                </tr>
            </table>
        </tr>
    </table>
</div>

<div style="width: 800px; height: 300px;">
    <table>
        <tr>
            <table border=1>
                <tr>
                    <td width="10px">
                        <input type="checkbox">
                    </td>
                    <td width="100px">
                        Name
                    </td>
                    <td width="100px" style="overflow: hidden">
                        Level 1
                    </td>
                    <td width="100px" style="overflow: hidden">
                        Level 2
                    </td>
                    <td width="100px" style="overflow: hidden">
                        Level 3
                    </td>
                    <td width="100px" style="overflow: hidden">
                        Level 4
                    </td>
                    <td width="100px" style="overflow: hidden">
                        Level 5
                    </td>
                    <td width="100px">
                    </td>
                </tr>
            </table>
        </tr>
        <tr>
            <table border="1">
                <tr app-assetreflistitem *ngFor="let assetref of assetrefs | async" [assetref]="assetref" valign="top">
                </tr>
            </table>
        </tr>
    </table>
</div>