<div #tnode style="border-left: 0px solid red;">
  <div (click)="toggleDisplay($event)">
    <i #plus class="far fa-plus-square" style="display: none"></i>
    <i #minus class="far fa-minus-square" style="display: inline-block"></i>
    {{ treeNode.name }}
  </div>
  <div #slot>
    <div #fnode style="border-left: 1px solid orangered; border-bottom: 1px solid orangered;">
      <div *ngFor="let asset of treeNode.assets">{{ asset.name }}
        <app-formnode *ngFor="let form of asset.forms;" [form]="form"></app-formnode>
      </div>
    </div>
    <div style="border-left: 0px solid purple;">
      <app-treenode *ngFor="let node of treeNode.children;" [treeNode]="node"></app-treenode>
    </div>
  </div>
</div>