<select (change)="onProjChange($event)">
    <option>Select Project...</option>
    <option *ngFor="let proj of projects | async" value="{{proj.$key}}">{{proj.name}}</option>
</select>
<div #tnode style="border-left: 0px solid red;">
    <div #tdiv0 (dblclick)="toggleTxtLevel0($event)" style="height:25px; overflow: hidden; white-space: nowrap;">
        {{project_name}}
    </div>
    <div>
        {{project_key}}
    </div>
    <input #idiv0 (blur)="toggleInputLevel0($event)" style="width: 100px; height: 20px; display: none;" />
    <div #fnode style="padding-left: 0px;">
        <div *ngFor="let asset of treeRoot.assets">
            <div style="display: inline-block;">{{ asset.name }}</div>
            <app-formnode *ngFor="let form of asset.forms;" [form]="form" style="display:inline-block;"></app-formnode>
        </div>
        <!-- <i *ngFor="let form of treeRoot.forms" class="fab fa-wpforms"></i> -->
    </div>
    <div style="border-left: 0px solid purple;">
        <app-treenode *ngFor="let node of treeRoot.children" [treeNode]="node"></app-treenode>
    </div>
</div>