<div id="shwmenubtn">
    <button (click)="onMenuClick($event)">menu</button>
</div>
<div #shwmenudiv id="mobilemenu" style="display: none">
    <select (change)="onProjChange($event)" style="border: 0px solid black;">
        <option>Select Project...</option>
        <option *ngFor="let proj of projects | async" value="{{proj.$key}}">{{proj.name}}</option>
    </select>
    <div #tnode style="border-left: 0px solid red;overflow: hidden;">
        <div #tdiv0 (dblclick)="toggleTxtLevel0($event)" style="width:100px; height:25px; overflow: hidden; white-space: nowrap; border: 0px solid black;">
            {{project_name}}
        </div>
        <div style="border: 0px solid black;">
            {{project_key}}
        </div>
        <input #idiv0 (blur)="toggleInputLevel0($event)" style="width: 100px; height: 20px; display: none;" />
        <div #fnode style="padding-left: 0px; border: 0px solid black;">
            <div *ngFor="let asset of treeRoot.assets">
                <div style="display: inline-block;">{{ asset.name }}</div>
                <app-formnode *ngFor="let form of asset.forms;" [form]="form" style="display:inline-block;"></app-formnode>
            </div>
            <!-- <i *ngFor="let form of treeRoot.forms" class="fab fa-wpforms"></i> -->
        </div>
        <div style="border-left: 0px solid purple;">
            <app-treenode *ngFor="let node of treeRoot.children" [treeNode]="node"></app-treenode>
        </div>
    </div>
    <button (click)="logOut($event)">Log Out</button>
</div>
<div id="formview" style="border: 0px solid black;">
    <table id="maincomp" align="center">
        <tr align="center">
            <td align="center">
                <app-mobilecxform #formsview></app-mobilecxform>
                <app-cxformref #formrefsview style="display: none;"></app-cxformref>
                <app-assetlist #assetlist style="display: none;"></app-assetlist>
            </td>
        </tr>
    </table>
</div>