#maincomp {
  height: 0;
  padding-bottom: 0%;
  position: relative;
  vertical-align: top;
}

#mobilemenu {
  position: absolute;
  right: 0px;
  top: 30px;
  z-index: 10;
  border: 0px solid black;
  background-color: white;
  overflow: visible;
  z-index: 100;
}

#formview {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  overflow-y: scroll;
  
}

#shwmenubtn {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 10;
}