html, body
{
  height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.main-ie {
    width: 100%;
    height: 80vh;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.main-td {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.settings-td {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.split-example {
    height: 85vh;
    outline: 5px solid purple;
    margin: 2px;
  }
  
  split-area > p {
    padding: 15px;
  }