<div (mouseenter)="hover=true" (mouseleave)="hover=false" (click)="setCxform()"
      [ngClass]="{blue: hover}"
      [routerLink]="['/mainwin/' + cxform.$key]"
      [routerLinkActive]="['active']">
  {{cxform.name}} {{cxform.no_pages}}
  <a target=”_blank” href= "{{pdfUrl}}?text={{cxform.$key}}">pdf</a>
</div>