<table class="contextmenu" [ngStyle]="{'left.px': x, 'top.px': y}">
  <tr>
    <td>
      <button (click)=merge()>Merge</button>
    </td>
  </tr>
  <tr>
    <td>
      <button (click)=unmerge()>Unmerge</button>
    </td>
  </tr>
  <tr>
    <td>
      <button (click)=copypage()>Copy Page</button>
    </td>
  </tr>
  <tr>
    <td>
      <button (click)=pastepage()>Paste Page</button>
    </td>
  </tr>
  <tr>
    <td>
      <button (click)=copytable()>Copy Table</button>
    </td>
  </tr>
  <tr>
    <td>
      <button (click)=pastetable()>Paste Table</button>
    </td>
  </tr>
  <tr>
    <td>
      <button (click)=copycell()>Copy Cell</button>
    </td>
  </tr>
  <tr>
    <td>
      <button (click)=pastecell()>Paste Cell</button>
    </td>
  </tr>
</table>