.textel { 
    font-size: 12pt;
    line-height: 1em;
}

.inline {
    display: inline;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}