<table class="formtable" *ngIf="pages" align="center" (mousedown)="mousedown()" (mouseup)="mouseup()" (mouseleave)="mouseleave()">
  <tr>
    <td align="center">
      <table app-page class="page" *ngFor="let page of pages" [page]="page" border="5" [attr.height]="page.pheight" [attr.width]="page.pwidth"
        align="center" valign="top">
      </table>
    </td>
  </tr>
</table>