<div style="display: inline-block; max-height: 25px;">
  <i style="display: block;" class="fab fa-wpforms" (click)="onClick($event)" [routerLink]="['/mainwin/' + form.$key]" [routerLinkActive]="['active']">
  </i>
  <a target=”_tab” href="{{pdfUrl}}?text={{form.$key}}" style="font-size: 8px; display: block;">pdf</a>
</div>