<table class="formtable" *ngIf="pages" align="center" (click)="disableContextMenu()" oncontextmenu="return false;"
  (contextmenu)="onrightClick($event)" (mousedown)="mousedown()" (mouseup)="mouseup()" (mouseleave)="mouseleave()">
  <tr>
    <td align="center">
      <!-- <table app-page class="page" width=750 height=950 *ngFor="let page of pages | async" [page]="page" border="5" [attr.height]="page.pheight"
        [attr.width]="page.pwidth" align="center" valign="top">
      </table> -->
    </td>
  </tr>
</table>
<div *ngIf="contextmenu==true">
  <app-contextmenu [x]="contextmenuX" [y]="contextmenuY"></app-contextmenu>
</div>