<div>
  <table #tcomp cxEl class="table" border=1 (click)="click($event)" (mouseover)="over($event)" (mouseleave)="leave($event)">
    <colgroup>
      <col *ngFor="let col of cellel.table.cols" [attr.width]="col">
    </colgroup>
    <tr app-row class="tr" valign="top" *ngFor="let row of cellel.table.rows" [table]="cellel.table" [row]="row" [inner]="true" [attr.height]="row.height">
    </tr>
  </table>
</div>