body {
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
}
html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
table {
    border-spacing: 0px;
}
input.ng-invalid.ng-dirty{
    border: 1px solid red;
}
button:hover,a.btn:hover{
    cursor: pointer;
}