<div class="split-example" style="height: 100vh;">
  <button (click)="addProject($event)">Add Project</button>
  <button (click)="addAsset($event)">Add Asset</button>
  <button (click)="addForm($event)">Add Form</button>
  <button (click)="genReport($event)">Gen Report</button>
  <button (click)="gotoEditor($event)">Goto Editor</button>
  {{assetId}}
  <app-assettree></app-assettree>
  <app-assetlist></app-assetlist>
</div>