<div *ngFor="let formref of formrefs | async" style="display: inline-block; max-height: 25px;">
    <i style="display: block;" class="fab fa-wpforms" (click)="onClick($event, formref)" [routerLink]="['/mainwin/', formref.$key, formref.form_key]" [routerLinkActive]="['active']">
    </i>
    <a target=”_tab” href="{{pdfUrl}}?text={{formref.$key}}" style="font-size: 8px; display: block;">pdf</a>
</div>